<form class="form-signin" method="POST" action="/register">
  <h2 class="form-signin-heading">{{title}}</h2>

  <label for="inputName" class="sr-only">Full Name</label>
  <input type="text" id="inputName" class="form-control" placeholder="Full Name" name="name" required autofocus>

  <label for="inputUser" class="sr-only">User ID</label>
  <input type="text" id="inputUser" class="form-control" placeholder="UserName" name="username" required autofocus>
  
  <label for="inputEmail" class="sr-only">Email Address</label>
  <input type="email" id="inputEmail" class="form-control" placeholder="Email Address" name="email" required autofocus>
  
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
  
  <label for="inputConfirmPassword" class="sr-only">Confirm Password</label>
  <input type="password" id="inputConfirmPassword" class="form-control form-signin-last" placeholder="Confirm Password" name="confirmPassword" required>
  
  <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
  <br/>
  Already registered? <a href="/" class="register-link">Log in</a>
</form>